{
    "CN": "system:node:<node-hostname-lowercased>",
    "hosts": [],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "OU": "DevOps",
            "O": "system:nodes",
            "L": "Cary",
            "ST": "NC",
            "C": "US"
        }
    ]
}
