{
    "CN": "system:kube-scheduler",
    "hosts": [
        "<scheduler-nodes-IPs>",
        "127.0.0.1"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "OU": "DevOps",
            "O": "system:kube-scheduler",
            "L": "Cary",
            "ST": "NC",
            "C": "US"
        }
    ]
}
